<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div>
        <h1>Welcome to <%= siteTitle %></h1>
        <p class="lead">This is where content for "<%=title%>" lives</p>
      </div>
    </div><!-- /.container -->
  </body>
 </html>
