<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div>
        <h1>Welcome to <%= siteTitle %></h1>
        <p class="lead">
          Click one of the pages on the nav bar to see details.
        </p>
        <img
          src="https://media.tenor.com/images/d078694360d16cefb9857e9fc6e4caf6/tenor.gif"
        />
      </div>
    </div>
    <!-- /.container -->
  </body>
</html>
